
@{
    ViewBag.Title = "Index";
}
<br>
<br>
<br>
<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black;">
        <h2>Official Hollidays</h2>
        
            <div class="container" align="left">
                <p>@Html.ActionLink("List", "List", "Holly")</p>
                <p>@Html.ActionLink("Add", "Add", "Holly")</p>
                <p>@Html.ActionLink("Main", "Page", "Home")</p>
            </div>
    
    </div>
</div>

