@model HRM.DAL.Models.UserLevel
@{
    ViewBag.Title = "Edit";
}


<div class="container" align="center">
    <h4>Edit UserLevel</h4>
    <div class="panel-footer " style="width: 250px; border:1px solid black; color:cornflowerblue">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="form-horizontal">
                   

                    <div class="form-group">
                        @Html.LabelFor(i => i.Name)
                        <div class="col-md-10">
                            @Html.EditorFor(i => i.Name)

                        </div>
                    </div>

                </div>
                <p>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
      </div>
    </div>
