
@{
    ViewBag.Title = "Index";
}
<br>
<br>
<br>
<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black;">
        <h2>UserLevel</h2>

        <div class="container" align="left">
            <p>@Html.ActionLink("List", "List", "UserLevel")</p>
            <p>@Html.ActionLink("Add", "Add", "UserLevel")</p>
        </div>

    </div>
</div>



