@model HRM.DAL.Models.Team

@{
    ViewBag.Title = "Delete";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Team</legend>
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>

</div>

</fieldset>
        <p>
            <input id="Submit1" onclick="return confirm('Are you sure you want delete');"
                   type="submit" value="Delete" />|
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
</body>
</html>



