
@{
    ViewBag.Title = "Index";
}
<br>
<br>
<br>
<div class="container" align="center">
    <div class="panel-footer " style="width: 250px; border:1px solid black;">
            <h2>Users</h2>
            <ul>
                <div class="container" align ="left">
                <li>@Html.ActionLink("List", "List", "Home")</li>
                <li>@Html.ActionLink("Add", "Add", "Home")</li>
</div>
            </ul>
        </div>
    </div>

